body{
    margin      :0;
    overflow-x  :hidden;
    }
    
  .footer{
    background  :#000;
    padding     :30px 0px;
    font-family : 'Play', sans-serif;
    text-align  :center;
    }
    
  .footer .row{
    width     :100%;
    margin    :1% 0%;
    padding   :0.6% 0%;
    color     :gray;
    font-size :0.8em;
    }
    
  .footer .row a{
    text-decoration :none;
    color           :gray;
    transition      :0.5s;
    }
    
  .footer .row a:hover{
    color     :#BCFD4C;
    filter    : drop-shadow(0px 0px 20px rgb(188, 253, 76));
    margin    : 30px;
    }
  
  #facebook:hover{
    color   :#001efd;
    filter  : drop-shadow(0px 0px 20px #001efd)
    }
  #insta:hover{
    color   :#ff009d;
    filter  : drop-shadow(0px 0px 20px #ff009d)
    }
  #youtube:hover{
    color   :#10c000;
    filter  : drop-shadow(0px 0px 20px#10c000)
    }
  #twitter:hover{
    color   :#00d9ff;
    filter  : drop-shadow(0px 0px 20px #00d9ff)
    }
    
  .footer .row ul{
    width :100%;
    }
    
  .footer .row ul li{
    display :inline-block;
    margin  :0px 30px;
    }
    
  .footer .row a i{
    font-size :2em;
    margin    :0% 1%;
    }
    
  @media (max-width:100px){
    .footer{
    text-align  :left;
    padding     :5%;
    }
  .footer .row ul li{
    display     :block;
    margin      :10px 0px;
    text-align  :left;
    }
  .footer .row a i{
    margin  :0% 3%;
    }
    }