
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 50px;
    box-sizing: border-box;
    background: hwb(0 0% 100% / 0.932);
    border-bottom: 0px solid #fff;
    box-shadow: 2px rgba(0, 0, 0, 0.855);
    display: flex;
    justify-content: space-between;
    align-items: center; /* Vertically center all items */
    z-index: 99; /* Ensure the navigation is above the background image */
  }
  
  nav .logo {
    height: 60px;
    font-size: 35px;
    font-weight: bold;
    text-transform: capitalize;
    color: #fff;
    display: flex;
    align-items: center; /* Vertically center the logo */
  }
  
  nav ul {
    list-style: none;
    display: flex;
    align-items: center; /* Vertically center the menu items */
  }
  
  nav li {
    height: fit-content;
    transition: height 0.3s; /* Smooth transition for height change */
  }
  
  nav a {
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center; /* Vertically center the menu items */
    color: rgb(255, 255, 255);
  }
  
  nav li:hover {
    height: 100px; /* Increase height on hover */
    background-color: #ff8000;
  }
  
  nav li:hover a {
    transform: translateY(250%); /* Adjust the vertical position of the text on hover */
  }
  